.container {
    width:50%;
    display:flex;
    flex-wrap:wrap;
  
    font-family: 'Reggae One', cursive;
    color: #9E0B16;

}

.tile {
    width:23%;
    padding:5%;
}

.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

h1 {
font-family: 'Indie Flower', cursive;
font-size: 70px;
color: black;
}